@{
    Layout = "_MioLayout";

}


<div class="container">

    <div class="row">
        <div class="col-12">
            <h1>Lista delle pizze</h1>
            <div>
                <input id="js_search_box" type="text" class="form-control my-3" placeholder="Cerca per titolo...">
            </div>
        </div>
    </div>

    <div id="loading-spinner" class="row">
        <div class="col-12">
            <div class="spinner-border" role="status"></div>
        <span class="visually-hidden">Sto cercando gli articoli disponibili... </span>
        </div>
    </div>

    <div id="row-no-pizzas" class="row d-none">
        <div class="col-12">
            <h1>Nessuna Pizza trovata</h1>
        </div>
    </div>



    <div id="list-of-pizzas" class="row d-none">
        <div class="col-12">

        </div>
    </div>

</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        
        loadAllPizza();

        document.getElementById("js_search_box").addEventListener('keyup', searchPizzas);

        function searchPizzas() 
        {
            let searchString = document.getElementById("js_search_box").value;

            loadAllPizza(searchString);
        }


        function loadAllPizza(searchParam) {
            axios.get('/api/Pizzas/SearchPizzas', { params: {search: searchParam}}).then((res)=>
            {
                console.log(res);

                var divNoPizzas = document.getElementById("div-no-pizzas");
                var loadingSpinnerElement = document.getElementById("loading-spinner");
                var listOfPizzasElement = document.getElementById("list-of-pizzas");

                if(res.data.length == 0) 
                {
                    divNoPizzas.classList.Remove("d-none");
                    loadingSpinnerElement.classList.Add("d-none");
                } 
                else 
                {
                    loadingSpinnerElement.classList.add("d-none");
                    listOfPizzasElement.classList.remove("d-none");

                    listOfPizzasElement.innerHTML = "";

                    res.data.forEach(pizza => {
                        console.log("pizza");

                        listOfPizzasElement.innerHTML +=
                            `
                                  <div class="col-12 col-md-4 p-2" id="${pizza.id}">
                                      <div class="card text-center ">
                                             <img src="${pizza.image}" class="card-img-top" alt="Immagine ${pizza.id}">
                                             <div id="card_` + pizza.id + `" class="card-body">
                                                   <h5 class="card-title">${pizza.name}</h5>
                                                   <p class="card-text">${pizza.description}</p>
                                                   <p class="card-text">${pizza.category == null? '' : pizza.category.name}</p>
                                                   <p class="card-text">${pizza.price} $</p>
                                             </div>
                                       </div>
                                  </div>
                            `;
                        const btn = document.createElement("button");
                        btn.type = "button";
                        btn.classList.add("btn", "btn-danger");
                        btn.innerHTML = "Delete";
                        btn.setAttribute("data-pizza-id", pizza.id);
                        btn.setAttribute("id", pizza.id);
                        btn.onclick = function () { deletePizza(pizza.id); };
                        document.getElementById("card_" + pizza.id).appendChild(btn);
                    });
                }
            })
        }


    </script>

}