<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #ffb458; height:100%;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Pizza/Index">Admin - Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Pizza/UserIndex">User - Side</a>
                    </li>

                    <partial name="_LoginPartial" />
                </ul>
                <img src="https://st4.depositphotos.com/22705892/29149/v/450/depositphotos_291497556-stock-illustration-creative-food-logo-simple-pizza.jpg" style="height:60px;" />
            </div>
        </div>
    </nav>
    <div class="container-fluid d-flex" style="justify-content:center; align-items:center; margin-bottom:50px; height: 350px; background-image:url('https://cdn.vox-cdn.com/thumbor/U6I_bfCqJUViBncjqYIs2orzivk=/0x188:787x778/920x613/filters:focal(0x188:787x778):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/48635261/garlic-knots-pizza.0.0.jpeg'); background-size: cover; background-position: center; text-align: center; color: white;">
        <div style="border-radius: 50px; background-color:rgb(16 21 31 / 62%); width:650px; height:80%;">
            <p style="font-size: 60px;">A Famo Strana Pizzeria</p>
            <p style="font-size: 30px;;">Pizze assurde dal mondo, scelte di giornata!</p>
        </div>
    </div>
</header>